li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: $smoky-black;
}
body{
    font-family: $raleway;
    background-color: $isabelline;

    
}
h1, h2, h3, h4, h5{
    font-family: $old-standard;
    font-weight: $bold;
}