//colors scheme
$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;

$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver:#a6a5a8;

//Font-weight
$regular: 400;
$bold: 700;

//fonts
$old-standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//font-size
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//background header
$hd-bg: url("../img/imagen1.png");